body {
  /* background: #e2f3fb; */
  background: #F6FAFD;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.header_wallpaper{
  width: 100%;
  height: 153px;
  background: url("../assets/footer_bot_back.png") center/cover;
}


.container {
  width: 80%;
  margin: 0 auto;
}

.container .navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  margin-top: 16px;
  /* font-weight: 600; */
}

.container .navbar img{
  width: 77px;
  height: 36px;
}

.container .navbar ul{
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .navbar ul li{
  color: #0077C0;
  cursor: pointer;
  font-weight:600;
  font-size: 16px;
  line-height: 19px; 
  transition: 0.5s;
}

.container .navbar ul li:hover{
  color: #195987;
}

.container .navbar .vector{
  width: 23%; 
}

.container .navbar .vector ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .navbar .vector ul li{
  gap: 26px;
}

.container .navbar .vector ul li img{
  width: 15px;
  height: 20px;
}

.container .navbar .vector ul li span{
  width: 200px;
}

/* MAIN */


.main{
  padding-top: 105px;
  display: flex;
  justify-content: space-between;
}

.content{
  width: 500px;
  height: 220px;
}

.content h1{
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #1D5F8E;
}

.content h2{
  padding-top: 70px;
  font-weight: 600;
  font-size: 58px;
  line-height: 70px;
  color: #1D2C43;
}

.Btns{
  padding-top: 70px;
  display: flex;
  gap: 20px;
}

.contactBtn{
  font-size: 22px;
  padding: 22px 60px;
  border-radius: 10px;
  border: #018ABE solid;
  background: #1D5F8E;
  color: #F6FAFD;
  cursor: pointer;
}

.moreBtn{
  font-size: 22px;
  cursor: pointer;
  color: #1D2C43;;
  padding: 22px 60px;
  border-radius: 10px;
  border: #018ABE solid;
  background-color: white;
}

.baner{
  background: url("/assets/Ellipse\ 1.png") center no-repeat;
  width: 420px;
  height: 420px;
  padding-top: 80px;
  position: relative;
}

.loGo{
  width: 77px;
  height: 36px;
  position: absolute;
  top: 220px;
  left: 56px;
}




/* FOOTER */

footer{
  margin-top: 100px;
}

.our_products {
  display: flex;
  align-items: center;
}

.footer .our_products_text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #1d5f8e;
  margin-bottom: 100px;
}

.footer .our_products_text p {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 37px;
  color: #1d2c43;
  margin-right: 50px;
}

.our_products_img {
  width: 200px;
  height: 308px;
}

.our_clients {
  margin-top: 284px;
}

.our_clients h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #1d5f8e;
  text-align: center;
  margin-bottom: 60px;
}

.our_clients_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our_clients_img .forester {
  width: 375px;
  height: 95px;
}

.our_clients_img .narodnyi {
  width: 375px;
  height: 80px;
}

.contacts h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #1d5f8e;
  text-align: center;
  margin-top: 225px;
}

.contacts img {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.contacts_cards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  text-align: center;
  width: 275px;
  height: 165px;
  padding: 20px 30px;
  margin-bottom: 220px;
}

.card .earth {
  width: 36px;
  height: 36px;
}

.card .telephone {
  width: 36px;
  height: 36px;
}

.card .message {
  width: 30px;
  height: 24px;
}

.card h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1d2c43;
  margin-top: 15px;
}

/* FOOTER_BOTTOM */

.footer_bottom {
  background: url("../assets/footer_bot_back.png") center/cover;
}

.footer_bottom img {
  margin-top: 40px;
  width: 110px;
  height: 50px;
}

.footer_bottom .lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 70px;
}

.lists ul {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 5;
  color: white;
}

.lists ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  color: #ffffff;
}

.lists ul li img {
  width: 23px;
  height: 23px;
}
/* 
.lists .with_icons li {

} */